<div class="col-lg=6 col-md-6 col-sm-10 col-xs-12 mx-auto">
	<div class="card with-shadow">
		<div class="card-header">
			<h2 class="text-center">Enter your credentials</h2>
		</div>
		<div class="card-block">
			<form ng-submit="register()" class="form-group text-center">
				<div class="row">
					<div class="offset-lg-1 offset-md-1 col-lg-1 col-md-1 col-sm-4 col-xs-4">
						<span id="inputType"><i class="fas fa-user-circle"></i></span>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
						<input class="form-control" type="text" name="name" placeholder="Full Name" ng-model="registerData.name" required>
					</div>
				</div>
				<div class="row">
					<div class="offset-lg-1 offset-md-1 col-lg-1 col-md-1 col-sm-4 col-xs-4">
						<span id="inputType"><i class="fas fa-at"></i></span>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
						<input class="form-control" type="email" name="email" placeholder="Email address" ng-model="registerData.email" required>
					</div>
				</div>
				<div class="row">
					<div class="offset-lg-1 offset-md-1 col-lg-1 col-md-1 col-sm-4 col-xs-4">
						<span id="inputType"><i class="fas fa-user"></i></span>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
						<input class="form-control" type="text" name="userName" placeholder="User Name" ng-model="registerData.userName" required>
					</div>
				</div>
				<div class="row">
					<div class="offset-lg-1 offset-md-1 col-lg-1 col-md-1 col-sm-4 col-xs-4">
						<span id="inputType"><i class="fas fa-key"></i></span>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
						<input class="form-control" type="password" name="password" placeholder="Password" ng-model="registerData.password" required>
					</div>
				</div>
				<div class="row">
					<div class="offset-lg-1 offset-md-1 col-lg-1 col-md-1 col-sm-4 col-xs-4">
						<span id="inputType"><i class="fas fa-user-md"></i></span>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
						<select class="form-control" name="role" ng-model="registerData.role" required>
							<option>Choose your User Type</option>
							<option value="Company">Seller</option>
							<option value="Customer">Buyer</option>
						</select>
					</div>
				</div>
				<button class="btn btn-primary" type="submit">Register</button>
			</form>
		</div>
	</div>
</div>
